@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

main {
    width: 100%;
    height: fit-content;
    padding: 2rem 4rem 4rem 4rem;
    box-shadow: $shadow;
}

// theme toggle color
.lightmode {
    @include mainlighttheme;
}

.darkmode {
    @include maindarktheme;
}