@if(heroItems$ | async; as hero) {
        <div class="container">
                <button class="left-btn btn" (click)="leftBtn()">
                        <
                </button>
                <img class="image" [src]="hero[itemCount].image" [alt]="hero[itemCount].title">
                
                <div class="content">
                        <p class="heading"> {{ hero[itemCount].title }} </p>
                        <p class="description"> {{ hero[itemCount].description }} </p>
                </div>
                <button class="right-btn btn" (click)="rightBtn()">
                        >
                </button>
        </div>
}
        

    