@import '../../assets/styles/variables';

@mixin button-styles() {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $dark-spring-green;
    border: none;
    color: white;
    position: absolute;
    z-index: 4;
    font-family: $fontserrat;
    font-weight: 800;
    cursor: pointer;
}

// For Header
@mixin lighttheme() {
    background: $dark-spring-green;
}

@mixin darktheme() {
    background: $smokey-black;
}

//For main content
@mixin mainlighttheme(){
    background: $light-03;
}   

@mixin maindarktheme(){
    background: $dark-gradient-02;
}   

// For cards before box 
@mixin reasonlighttheme() {
    background: $light-01;
    border: 1px solid $dark-spring-green;
}
@mixin reasondarktheme() {
    background: $smokey-black;
    border: 1px solid transparent;
}

// For text
@mixin lightthemetext() {
    color: $smokey-black;
}
@mixin darkthemetext() {
    color: $white;
}
